[submodule "src/models/exllama"]
	path = src/models/exllama
	url = https://github.com/turboderp/exllama.git
[submodule "libs/exllama"]
	path = libs/exllama
	url = https://github.com/turboderp/exllama.git
[submodule "libs/vllm"]
	path = libs/vllm
	url = https://github.com/vllm-project/vllm.git
